{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "resource_group": $RG_NAME,
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "hpc_reservation_id": $HPC_RESERVATION_ID,
  "sdnlb_key": $SDNLB_KEY,
  "acme_key": $ACME_KEY,
  "logdna_key": $LOGDNA_KEY
}
